* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100vh;
  background: #ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SAME SIZE AS LOGIN & CHAT */
.app-shell {
  width: 100%;
  max-width: 380px;
  height: 600px;
  background: #ece5dd;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  position: relative;   /* ✅ IMPORTANT */
}


/* HEADER */
.home-header {
  height: 56px;
  background: #075e54;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.app-title {
  font-size: 20px;
  font-weight: 600;
}

.header-actions {
  display: flex;
  gap: 16px;
  font-size: 18px;
  cursor: pointer;
}
/* SEARCH */
.search-box {
  background: #f0f0f0;
  padding: 10px;
}

.search-input {
  background: #fff;
  border-radius: 20px;
  padding: 10px 14px;
  color: #777;
  font-size: 14px;
}

/* CHAT LIST */
.chat-list {
  flex: 1;
  background: #ffffff;
  overflow-y: auto;

  padding-bottom: 56px;  /* ✅ bottom bar ke liye */
}


.chat-item {
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.chat-item:hover {
  background: #f5f5f5;
}

/* BOTTOM NAV (WhatsApp style) */
.bottom-nav {
  height: 56px;
  background: #fff;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: auto;     /* ⭐ frame ke bottom me chipka dega */
}




.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.nav-item span {
  margin-top: 2px;
}

.nav-item.active {
  color: #075e54;
  font-weight: 600;
}

/* 3 DOT MENU */
.menu-dropdown {
  position: absolute;
  top: 56px;
  right: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 10;
}

.menu-item {
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
}

.menu-item:hover {
  background: #f5f5f5;
}

.icon {
  cursor: pointer;
}

.title-wrap {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 12px;
  opacity: 0.85;
}

.chat-app {
  width: 380px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: #ece5dd;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.home-body {
  flex: 1;              /* ⭐ body ko height milegi */
  overflow-y: auto;
}
